<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leagoo.vendingmachine.upgrade" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <application
        >
        <service android:name=".DownloadIntentService" android:exported="false"/>
        <service android:name=".UpgradeJobService" android:exported="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.victor.vwork.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
